{
    "api_key": "<REPLACE_WITH_YOUR_CREDENTIALS>",
    "api_key_secret": "<REPLACE_WITH_YOUR_CREDENTIALS>",
    "access_token": "<REPLACE_WITH_YOUR_CREDENTIALS>",
    "access_token_secret": "<REPLACE_WITH_YOUR_CREDENTIALS>"
}
